<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <form  method="post">
          {% csrf_token %}
          <label for="Full_Name">Full Name :</label>
          <input type="text" name="Full_Name" placeholder="Please Enter Full name to check Other details">
          <input type="submit" value="Check">
          {% for s in data  %}
          <p>Name : {{s.FullName}}</p>
          <p>Phonenumber : {{s.Phonenumber}}</p>
          <p>Client_Value :{{s.Client_Value}}</p>
          <p>Email : {{s.Email}}</p>
          <p>protfolio_site : {{s.protfolio_site}}</p>
          {% endfor %}
        </form>
      </div>

    </div>

  </body>
</html>
